@font-face {
    font-family: 'LDF Comic Sans';
    src: url('Resources/Fonts/Ldfcomicsans.ttf') format('truetype');
}

body {
    background-color:aliceblue;
}

h1 {
    font-family: 'LDF Comic Sans', sans-serif;
    color:black
}

p {
    color: black;
}