body {
    background-color:aliceblue;
}

h1 {
    @font-face {
        font-family: 'Comic Sans';
        src: url('Resources/Fonts/Ldfcomicsans.ttf') format('truetype');
    }
    color:black
}

p {
    color: black;
}